@model BackOffice.Models.SpellViewModel
@using BackOffice.Models.Spells
@using BackOffice.Extensions

@{
    ViewData["Title"] = "Create Spell";
}

<h2>Add a new spell</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level" class="control-label">Level: </label>
                @for (int i = 0; i <= 10; i++)
                {
                    <label><input asp-for="Level" value=@i type="radio" />@i</label>
                }
            </div>
            <div>
                <label asp-for="Tradition" class="control-label"></label>
                <br/>
                @Html.CheckBoxesForEnumFlagsFor(model => model.Tradition)
            </div>
            <div class="form-group">
                
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <br/>
                <select asp-for="Type" asp-items="Html.GetEnumSelectList<SpellType>()">
                    <option selected="selected" value="">Please select</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Action" class="control-label"></label>
                <br />
                <select asp-for="Action" asp-items="Html.GetEnumSelectList<ActionType>()">
                    <option selected="selected" value="">Please select</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Castings" class="control-label"></label>
                <br />
                @Html.CheckBoxesForEnumFlagsFor(model => model.Castings)
            </div>
            <div class="form-group">
                <label asp-for="Range" class="control-label"></label>
                <input asp-for="Range" class="form-control" />
                <span asp-validation-for="Range" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <br />
                @Html.CheckBoxesForEnumFlagsFor(model => model.Area)
            </div>
            <div class="form-group">
                <label asp-for="Targets" class="control-label"></label>
                <input asp-for="Targets" class="form-control" />
                <span asp-validation-for="Targets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trigger" class="control-label"></label>
                <input asp-for="Trigger" class="form-control" />
                <span asp-validation-for="Trigger" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Requirements" class="control-label"></label>
                <input asp-for="Requirements" class="form-control" />
                <span asp-validation-for="Requirements" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsHeightenable" class="control-label"></label>
                <input asp-for="IsHeightenable" class="form-control" />
                <span asp-validation-for="IsHeightenable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea id="editor" asp-for="Description" class="form-control" placeholder="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    .ck-editor__editable_inline {
        min-height: 15em;
        line-height: .5em;
    }
    .col-md-4{
        min-width: 85%;
    }
</style>
