body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.ck.ck-editor__editable_inline {
    min-height: 400px;
    min-width: inherit;
}

#durationBlock, #castingDuration, #levelBlock, #triggerBlock {
    display: none;
}

.createSpellTable, td{
    vertical-align:baseline;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
}

.createSpellTable, table{
    border:1px solid black;
}